@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 25px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #FFD700;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-image: url('The-Flash-Ezra-Miller-como-Flash-em-poster-de-pe-na-Batcaverna-do-Batman-de-Michael-Keaton.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.traller {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    width: 90%;
}

.button  {
    width: 200px;
    height: 60px;
    background-color: #FFD700;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.05);
}

.banner-1 {
    background-image: url('https://s2-monet.glbimg.com/KfEHaWoPimqft9vO8yIlxoILQ9I=/0x0:961x517/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e7c91519bbbb4fadb4e509085746275d/internal_photos/bs/2023/4/l/X2cSicRBurI0263D49hg/captura-de-tela-2023-04-26-as-09.20.10.png');
    transition: 2.5s;
}

.banner-2 {
    background-image: url('https://assets.ayobandung.com/crop/0x0:0x0/750x0/webp/photo/2022/04/07/816276206.jpg');
    transition: 2.5s;
}

.banner-3 {
    background-image: url('https://sm.ign.com/ign_br/screenshot/default/flash-batman_za4g.jpg');
    transition: 2.5s;
}

.banner-1:hover {
    background-image: url('https://d2d7ho1ae66ldi.cloudfront.net/ArquivoNoticias/345db5a0-ab29-11ed-aa6e-9587410378a2/flash-super-bowl-trailer.jpg');
}

.banner-2:hover {
    background-image: url('https://www.begeeker.com.br/wp-content/uploads/2023/06/sasha-calle-supergirl--1024x576.jpg'); 
}

.banner-3:hover {
    background-image: url('https://s2-monet.glbimg.com/WULZodczc7lL4Yvg5EjDc7OcJVo=/0x0:1124x720/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_e7c91519bbbb4fadb4e509085746275d/internal_photos/bs/2023/J/g/4P15hpS9OtGTd2DMZSBg/michael-keaton-.jpg');
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation{
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 40%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .traller{
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}
